@model List<Rental.Web.Models.BookingDto>

@{
    ViewData["Title"] = "Bookings";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Reserva</th>
            <th scope="col">Placa</th>
            <th scope="col">CPF</th>
            <th scope="col">Total em Horas</th>
            <th scope="col">Preço</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
        <tr>
            <th scope="row">@booking.BookingCode</th>
            <td>@booking.Plate</td>
            <td>@booking.Cpf</td>
            <td>@booking.TotalHours</td>
            <td>R$ @booking.Price</td>
            <td>@booking.Date</td>
        </tr>
        }
    </tbody>
</table>
