@model VehiclesViewModel
@{
    ViewData["Title"] = "Home Page";
}



@if (Model.Categories.Any())
{
    <div class="text-center">
        <h1 class="display-4">Veículos</h1>
    </div>
    @foreach (var category in Model.Categories)
    {
        <div class="text-left">
            <h1 class="display-6">@category.Name</h1>
        </div>
        <div class="container mt-4">
            <div class="row">
                @foreach (var vehicle in category.Vehicles)
                {
                    <div class="col-auto mb-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@vehicle.Make @vehicle.Model @vehicle.Year</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@vehicle.Plate</h6>
                                <p class="card-text">Valor Hora: <b>R$ @vehicle.PricePerHour</b> </p>
                                <p class="card-text">Combustível: @vehicle.Fuel </p>
                                <a href=@Url.ActionLink("Quotation", "Bookings", new { plate = vehicle.Plate }) class="card-link">Reservar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <center>
        <h1>Não temos carros disponíveis no momento, volte mais tarde!</h1>
    </center>
}

